<div class="col-10 offset-1 about">
 <h1>About Splurty</h1>

<p>
  Splurty was built by <a target="_blank" href="http://github.com/EBryant407">Eric.</a> Husband and Father of two small children. Accomplished Dungeon Master, Jedi and Disney nerd.
</p>
<br />
<p>
  He is working to start a new path in a new career field that will benefit his family and make a better them for them all.
</p>
<br />
<p>
  If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
</p>


<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'Eric.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Eric Bryant</h2>
    <br />
    <p>
      Eric Bryant is learning to develop code.
    </p>
  </div>
</div>
<br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />